node_modules/
.env
dist/

# ignore credentials and tokens
credentials.json
google_sheets_id.txt
service_account_credentials.json

# ignore python virtual env 
venv

# ignore temporary folders
__pycache__/
review_before_delete/