<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yakinton 46 Dashboard</title>
    <meta http-equiv="refresh" content="300"> <!-- Refresh every 5 minutes -->
</head>
<body>
    <h1>Yakinton 46  Dashboard</h1>
    <!-- Content placeholders -->
    <div id="time-date">
        <h2>Time: {{ time }}</h2>
        <h3>{{ date }}</h3>
    </div>
    
    <div id="team-messages">
        <h2>Team Messages</h2>
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div id="team-photos">
        <h2>Team Photos</h2>
        {% for photo in photos %}
            <img src="{{ photo }}" alt="Yakinton 46 Photo" style="max-width:100%; height:auto;">
        {% endfor %}
    </div>

    <div id="weather-forecast">
        <h2 dir="rtl">תחזית להיום</h2>
        <p dir="rtl">
            {{weather.city}}</br>
            {{ weather.temperature }}°C</br> 
            ({{ weather.humidity}}%)</br>
            {{ weather.description}}
        </p>
    </div>
    

    <div id="news-breaks">
        <h2>Latest News</h2>
        <ul>
            {% for news in news_feed %}
                <!--<li><a href="{{ news.link }}">{{ news.title }}</a></li>-->
                <li>[{{ news.time }}]: {{ news.title }}</li>
            {% endfor %}
        </ul>
    </div>
    

    <div id="todo-list">
        <h2>To-Do List</h2>
        <ul>
            {% for todo in todos %}
                <li>{{ todo }}</li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>
